<div class="container mt-3">
  <h1>Usuarios</h1>
  <hr />
  <button
    type="button"
    mdbTooltip="Descargar archivo de texto"
    class="btn btn-success btn-sm"
    (click)="onDownload()"
  >
    <i class="fa fa-download" aria-hidden="true"></i>
  </button>
  <hr />
  <div class="table-responsive">
    <ng-container *ngIf="ready; else loading">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Usuario</th>
            <th scope="col">Hash</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.hash }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #loading>
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
  </div>
</div>
